@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script:wght@400..700&family=Yanone+Kaffeesatz:wght@400;600;700&display=swap');

.PageContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Title{
    font-family: "Dancing Script", serif;
    font-size:3em;
}

.Infos{
    display: flex;
}

.Infos div{
    padding-inline: 1em;
}

.Infos h3, .Infos strong, .todos strong{
    font-family: "Dancing Script", serif;
    text-decoration: underline;
    text-underline-offset: 3px;
    font-weight: bolder;
}

.PageContent button {
    background-color: #f9b44c;
    padding: 0.5em;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    height: 2em;
}

.MyInfos, .PetInfos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoContent, .PetInfoContent{
    padding-inline: 2em;
}

.pp{
    width: 10em;
    margin-right: 1em;
    height: fit-content;
}


.BtnEdit{
    display: flex;
    justify-content: end;
}

.BtnEdit p{
    margin-right: 0.5em;
}

.PetAdd{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add{
    border-radius: 100%;
    height: fit-content;
}

form, .Container{
    display: flex;
    flex-direction: column;
}

.form-group{
    display: flex;
    padding-bottom: 1em;
}

.InputRegister{
    display: flex;
    flex-direction: column;
    /*padding-inline: 1em;*/
    justify-content: center;
}

.InputRegister div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.cancelBtn{
    margin-left: 0.5em;
    background-color: lightgray!important;
}


.todos{
    border: 1px solid lightgray;
    border-radius: 15px;
    padding: 0.25em;
    margin-bottom:0.5em;
    margin-top: 0.5em;
}

.todos p{
    margin: 0;

}

.MatchCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2em;
}



.PetCard{
    display: flex;
}

.PetImage{
    width: 5em;
    margin-right: 1em;
    height: fit-content;
}

.PetDetails p{
    margin: 0;
}


.MatchCard h3{
    font-family: "Dancing Script", serif;
    text-decoration: underline;
    font-size: 2em;
    text-underline-offset: 3px;
    font-weight: bolder;
    margin: 0;
}

.MatchCard h4{
    align-self: flex-start;
    text-decoration: underline;
}


.myMatches{
    display: flex;
    flex-wrap: wrap;
}