@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script:wght@400..700&family=Yanone+Kaffeesatz:wght@400;600;700&display=swap');

#root{
    height: 100vh;
    display: flex;
    justify-content: center;
}

#root .amplify-button{
    background-color: #f9b44c!important;
    color: black!important;
    border: none!important;
}

#root .amplify-tabs__item{
    color: black!important;
}

#root .amplify-tabs__item--active{
    color: #f9b44c!important;
    border-color: #f9b44c!important;
}

.HomePage{
    display: flex;
    padding-inline: 4em;
    justify-content: center;
    align-items: center;
    padding-top: 4em;
}

.HomePage img{
    /*border-radius: 100%;*/
}

.HomePage div{
    display: flex;
    flex-direction: column;
    padding-inline: 2em;
}

.HomePage div h1{
    padding: 0;
    margin: 0;
    font-family: "Dancing Script", serif;
    font-size: 5em;
}